[
  {rabbit, [
    {% for key, value in result.conf_dict['rabbitmq_config_variables'].iteritems() -%}
       { {{-key}}, {{value-}} },{{"\n"}}
    {% endfor -%}
    {default_user, <<"{{ result.conf_dict['rabbitmq_default_user'] }}">>},
    {default_pass, <<"{{ result.conf_dict['rabbitmq_default_pass'] }}">>}
  ]},
  {kernel, [
    {% for key, value in result.conf_dict['rabbitmq_kernel_variables'].iteritems() -%}
       { {{-key}}, {{value-}} }{% if not loop.last %},{{"\n"}}{% endif %}
    {% endfor -%}
]},
  {rabbitmq_management, [
    {listener, [
      {port, 1{{result.conf_dict['rabbitmq_port']-}} },
      {ip, "{{result.conf_dict['rabbitmq_interface']}}"}
    ]}
  ]}
].
