[
  {rabbit, [
    {tcp_listen_options, [binary, {packet, raw}, {reuseaddr, true}, {backlog, 128}, {nodelay, true}, {exit_on_close, false}, {keepalive, true}]},

    {loopback_users, []},

    {cluster_partition_handling, pause_minority},

    {queue_master_locator, <<"min-masters">>},

    {default_user, <<"{{rabbitmq_user}}">>},
    {default_pass, <<"{{rabbitmq_password}}">>}
  ]},
  {kernel, [
    {inet_dist_listen_min, 25672},
    {inet_dist_listen_max, 25672}    ]},
  {rabbitmq_management, [
    {listener, [
      {port, 15672},
      {ip, "0.0.0.0"}
    ]}
  ]}
].
